<form [formGroup]="form">
<mat-form-field>
<input matInput placeholder="Name" formControlName="name">
<mat-error *ngIf="validate.name.touched && validate.name.errors && validate.name.errors.required">Name Can Not Be Blank</mat-error>
</mat-form-field>
<br>

<mat-form-field>
<input matInput placeholder="Email" formControlName="email">
<mat-error *ngIf="validate.email.touched && validate.email.errors && validate.email.errors.required">Email Can Not Be Blank</mat-error>
    <mat-error *ngIf="validate.email.touched && validate.email.errors && validate.email.errors.email">Email Must Be Valid Format</mat-error>
</mat-form-field>
<br>
<mat-form-field>
        <input matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="validate.password.touched && validate.password.errors && validate.password.errors.required">Password Can Not Be Blank</mat-error>
            <mat-error *ngIf="validate.password.touched && validate.password.errors && validate.password.errors.minlength">Password Must Be grater than four digits value</mat-error>
            <mat-error *ngIf="validate.password.touched && validate.password.errors && validate.password.errors.maxlength">Password Must Be less than eight digits value</mat-error>
        </mat-form-field>
        <br><br><br>
<button mat-raised-button type="submit" (click)="submit()">Submit</button>
</form>